@font-face {
	font-family: "Adieu-Regular";
	src: url("/fonts/Adieu Regular.ttf");
}

@font-face {
	font-family: "Helvetica";
	src: url("/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
	font-family: "MarkPro-Book";
	// src: url("../fonts/MarkPro-Regular.otf") format("otf");
	src: url("/fonts/Mark Pro Book.ttf") format("truetype");
}

@font-face {
	font-family: "MarkPro-Bold";
	// src: url("../fonts/MarkPro-Medium.otf") format("otf");
	src: url("/fonts/Mark Pro Bold.ttf") format("truetype");
}
